body.catppuccin-frappe-maroon {
  --text-default: #c6d0f5;
  --text-secondary: #b5bfe2;
  --text-tertiary: #232634;

  --background: #303446;
  --background-darker: #292c3c;
  --background-lighter: #414559;
  --body-background: #303446;
  --gradient-body-background: #303446;
  --input-background: #414559;
  --controller-hints-background: transparent;
  --current-background: #303446;
  --modal-background: #232634;
  --modal-border: #ea999c;
  --osk-background: #303446;
  --osk-button-background: #414559;
  --osk-button-border: #232634;
  --search-bar-background: #414559;
  --search-bar-border: #414559;

  --action-icon: #c6d0f5;
  --action-icon-hover: #737994;
  --action-icon-active: #ea999c;
  --icons-background: #303446;

  --brand-primary: #ea999c;
  --brand-primary-hover: #737994;

  --primary-button: #ea999c;
  --primary-button-overlay: #ea999c;
  --secondary-button: #ea999c;
  --secondary-button-overlay: #ea999c;
  --tertiary-button: #ea999c;
  --tertiary-button-overlay: #ea999c;
  --success-button: #a6d189;
  --disabled-button: #292c3c;
  --disabled-button-overlay: #232634;

  --navbar-active: #ea999c;
  --navbar-inactive: #c6d0f5;
  --navbar-active-background: #414559;
  --navbar-accent: #ea999c;
  --navbar-background: #292c3c;
  --divider: #292c3c;

  --success: #a6d189;
  --success-hover: #737994;
  --danger: #e5c890;
  --danger-hover: #737994;

  --primary: #ea999c;
  --secondary: #ea999c;
  --accent: #ea999c;

  --status-success: #a6d189;
  --status-warning: #e5c890;
  --status-danger: #e78284;
  --status-info: #ea999c;

  --neutral-01: #232634;
  --neutral-02: #303446;
  --neutral-03: #414559;
  --neutral-04: #737994;
  --neutral-05: #a5adce;
  --neutral-06: #c6d0f5;
}

body.catppuccin-frappe-maroon select,
body.catppuccin-frappe-maroon input {
  box-shadow: none !important;
}
